.SearchBarTotal{
    top: 0;
}
.searchDiv {
    display: flex;
    margin: 3% 2%;
    align-items: center;
}



.searchText {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.searchLogo {
    width: 32px;
    height: 32px;
}

.results {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.searchLabel {
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.29px;
    color: #000000;
    margin-left: 10vw;
}
.searchedresult {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.29px;
    margin-left: 10vw;
}
