.mainHeaderContainer {
    display: flex;
    flex-direction: row;
    height: 46px;
    justify-content: space-between;
    margin: 1vh 10px;
}
.leftContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.middleContainer {
    display: flex;
    align-items: center;
    align-self: center;
    
}
.RightContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
.logo {
    width: 32px;
    height: 32px;
    padding-right: 10px;
}
.biglogo{
    display: block;
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    width: 40px;
    height: 40px;
}